@charset "UTF-8";

.top {
  background-image: url(../img/fv8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: calc(100vh - 6.88rem); */
  height: calc(90vh - 6.88rem);
}

.faq {
  padding: 5rem 0;
}

.faq-wrap__body {
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans JP', sans-serif;
}

.faq-wrap__body__list__item {
  position: relative;
  margin-bottom: 1.87rem;
  box-shadow: 4px 4px 4px #ccc;
  list-style: none;
  font-size: 1.12rem;
  border-radius: 15px;
}

.faq-wrap__body__list__item:last-of-type {
  margin-bottom: 0;
}

.faq-wrap__body__list__item__tog {
  display: none;
}

.faq-wrap__body__list__item__con {
  display: flex;
}

.faq-wrap__body__list__item__tog:checked
+ .faq-wrap__body__list__item__ttl
+ .faq-wrap__body__list__item__con {
  max-height: 500px;
  transition: all 1.5s;
}

.faq-wrap__body__list__item__tog:checked
+ .faq-wrap__body__list__item__ttl {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}

.faq-wrap__body__list__item__tog:checked
+ .faq-wrap__body__list__item__ttl::before {
  transform: rotate(90deg);
  
}

.faq-wrap__body__list__item__ttl,
.faq-wrap__body__list__item__con {
  transform: translate(0);
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl {
  display: block;
  background-color: #FFE8EE;
  padding: 1.25rem;
  border-radius: 15px;
  transition: border-radius 0.3s ease;

}

.faq-wrap__body__list__item__ttl span {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0.62rem;
}

.faq-wrap__body__list__item__ttl::after,
.faq-wrap__body__list__item__ttl::before {
  content: "";
  position: absolute;
  right: 1.25rem;
  top: 1.56rem;
  width: 2.5px;
  height: 17.5px;
  background-color: #EF7C8E;
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl::after {
  transform: rotate(90deg);
}

.faq-wrap__body__list__item__con {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: border-radius 0.3s ease;
}

.faq-wrap__body__list__item__con span {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0.62rem;
  color: #EF7C8E;
}

.faq-wrap__body__list__item__con p , .faq-wrap__body__list__item__con span {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  line-height: 1.8;
}

.faq-wrap__body__list__item__con p {
  padding-right: 1.25rem;
}

.faq-wrap__body__list__item__con span {
  padding-left: 1.25rem;
}











